html, body, header, nav, h1, h3, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Jost', 'Roboto', 'Open Sans', sans-serif;  
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

li {
  list-style: none;
}

li:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.App {
  display: flex;
  justify-content: center;
  margin: 50px 0 0;
  text-align: center;
  flex-direction: column;
}

.App-container {
  display: flex;
  margin: 100px;
  width: 100%;
}

.playlist-container {
    display: flex;
    justify-items: left;
    border: 1px solid green;
    flex-direction: column;
    padding: 30px;
}

.playlist-row {
  margin: 20px 0;
}

.playlist-row:hover > span {
  color: blue;
  font-weight: 600;
}

.songs-container {
  display: flex;
  justify-content: left;
  border: 1px solid red;
  width: 50%;
  flex-direction: column;
  padding: 30px;
}

.song-row {
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  border: 1px solid blue;
  width: 100%;
  padding: 10px;
}

.song-row:hover {
  color: red;
}

img {
  width: 100px;
}

.artists-container {
  display: flex;
  flex-wrap: wrap;
}

.artists-li {
  width: 150px;
  margin: 25px;
}

.artists-li:hover {
  color: green;
}